
<div class="large-3 pull-9 columns" id="sidebar">
    <%= button_to('Browse Library', library_path, :class=>:'button black', :method=>:get) %>  
    <%= button_to('Submit Content', contribute_path, :class=>:'button black', :method=>:get) %>  
    <%= button_to('Seek Mentors', contribute_path, :class=>:'button black', :method=>:get) %>  
</div>

<div class="large-9 push-3 columns">
  <%= @library.each do |media| %>
      <% link = "screening/"+media.id.to_s %>
      <a href=<%= link %> >
        <h4><%= media.title %></h4><br>
        <img src=<%= media.thumbnail %> ><br><hr><br>
      </a>
  <% end %>
</div>
